@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('Montserrat', normal, 400, '../fonts/montserrat-regular-webfont.woff2')
@include font('Montserrat', italic, 400, '../fonts/montserrat-italic-webfont.woff2')
@include font('Montserrat', normal, 700, '../fonts/montserrat-bold-webfont.woff2')
@include font('Montserrat', italic, 700, '../fonts/montserrat-bolditalic-webfont.woff2')
