@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: $white
input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	color: $black
a
	color: $black
	text-decoration: none
	outline: none
	width: fit-content

button
	outline: none

ul
	list-style: none
	list-style-image: none
	padding: 0
	margin: 0
section
	position: relative
	padding-left: 60px
	margin: 130px 0
h4
	margin: 10px 0
	font-size: 18px
	font-weight: 400
	color: $black

.img-responsive
	height: 100%
	width: 100%

.slider-controls
	position: absolute
	display: grid
	grid-template-rows: 1fr 1fr
	width: 70px
	height: 140px
	right: 0
	bottom: 0

.btn-slider
	border: none
	background: $accent url(../img/arrow.svg) center no-repeat
	background-size: 30%
	&:hover
		cursor: pointer

.btn-control-left
	background-color: $white
	transform: rotateY(180deg)
	&:hover
		background-color: $accent

.btn-control-right
	&:hover
		background-color: $white

.section-without-grooves
	padding-left: 0
	margin: 0

.decoration-blue-element
	position: absolute
	background-color: $accent
	width: calc(100% - 520px)
	height: 190px
	bottom: -145px
	transform: translateY(-50%)
	right: 0
	z-index: -5

/**		  ***		**/

.site-header
	display: flex
	position: relative
	align-items: center
	width: 100%
	height: 95px

.logo
	display: flex
	min-width: 400px
	width: 400px
	text-transform: uppercase
	font-weight: 400
	align-items: center
	align-self: stretch
	padding: 0 60px
	box-shadow: inset 0px -5px 0px $accent
	a
		font-size: 18px

.header-middle-area
	height: 100%
	width: calc(100% - 580px)
	max-width: 900px
	position: relative
	z-index: 5

.main-nav
	height: 100%

.main-sections
	display: grid
	grid-template-columns: repeat(4, 1fr)
	height: 100%
	vertical-align: middle
	a
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		padding: 30px 0
		transition: .5s ease
		width: 100%
		&:hover
			box-shadow: inset 0px 3px 0px $accent

.preview-section
	display: grid
	grid-template-columns: 520px 1fr
	height: 650px
	padding-right: 60px
	text-transform: uppercase
	.left-info
		background-color: #2B2B33
		z-index: 0

.mobile-nav-button
	position: fixed
	display: none
	width: 55px
	height: 55px
	top: 0
	right: 0
	border: none
	background-color: $accent
	background: $accent url(../img/menu.svg) center no-repeat
	background-size: 40%
	&:hover
		cursor: pointer

.job-title
	position: absolute
	opacity: 0
	transition: .5s ease
	&.active
		opacity: 1
		transition: .5s ease
	h1,h2
		font-size: 25px
		font-weight: 400
		color: $trwhite
		line-height: 35px
		margin: 0
		strong
			font-size: 40px
			color: $white

.left-info
	padding-left: 60px
	padding-top: 185px

.preview-tagline
	position: relative
	top: 70px
	font-size: 16px
	font-weight: 400
	color: $accent
	margin: 40px 0

.preview-img
	position: absolute
	visibility: hidden
	object-fit: cover
	object-position: 80% 0
	transition: .5s ease
	opacity: 0
	&.active
		visibility: visible
		opacity: 1
		transition: .5s ease

.contact-info
	position: absolute
	left: 60px
	top: 465px
	display: grid
	grid-template-columns: 16px 1fr
	grid-column-gap: 10px
	li
		line-height: 18px
		a
			color: $trwhite

.icon-phone-call
	padding: 10px 0

.slider-list-pager
	position: relative
	top: 40%
	ul
		display: grid
		grid-template-columns: repeat(3, 40px)
		span
			color: $trwhite
			padding: 10px 3px
			&:hover
				cursor: pointer
		.active
			color: $accent
			box-shadow: inset 0px -1px 0px $accent

.preview-right-section
	position: relative
	overflow: hidden
	background-color: $white
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.section-header, .form-header
	position: relative
	font-size: 35px
	font-weight: 400
	text-transform: uppercase

.form-header
	color: $white
	line-height: 45px
	margin: 0

.services-types
	position: relative
	display: inline-block
	left: 50%
	transform: translateX(-50%)
	max-width: 1800px
	margin-left: -30px
	width: calc(100% - 60px)
	min-height: 520px
	ul
		min-height: 520px
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 20px
		li
			background-color: #FAFAFA
			padding: 35px
			&:hover
				box-shadow: $serviceborder
				background-color: rgba(255, 255, 255, .2)

.description-text
	margin: 0
	color: $gray
	font-size: 14px

.service-list-img
	width: 32px
	height: 32px

.advantages
	&-list
		padding: 50px
		background-color: #FAFAFA
		max-height: min-content
		align-self: start
		li
			display: grid
			grid-template-columns: 70px 1fr
			margin-top: 10px
		&-center-content
			border-bottom: 1px dashed rgba(0, 0, 0, .1)
			padding-bottom: 10px
			h4
				margin-top: 0
		object
			margin-top: 8px

.consultation
	&-container
		width: calc(100% - 60px)
		display: grid
		grid-template-columns: 50% 450px 1fr
	&-form
		width: 350px
		padding: 50px
		background-color: $accent
		.description-text
			color: $white
			font-size: 16px
			margin: 10px 0
		input, textarea
			border: none
			margin-bottom: 10px
		input
			display: block
			width: calc(100% - 30px)
			padding: 1px
			height: 50px
			padding: 0px 10px 0px 20px
		textarea
			position: relative
			display: block
			width: calc(100% - 40px)
			min-height: 90px
			resize: vertical
			padding: 10px 20px
			overflow: hidden
	&-img-container
		position: relative
		top: 50px
		left: -400px
		max-height: 850px
		width: calc(100% + 400px)
		background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
		z-index: -5
		height: 100%
	&-img
		position: relative
		visibility: visible
		object-fit: cover
		object-position: 35% 0
		opacity: 1

.btn-action
	background: $btnorange
	border: 1px solid #FAA00F
	width: 100%
	height: 50px
	border: none
	text-transform: uppercase
	color: $white
	font-weight: 700
	&:hover
		cursor: pointer
	&:active
		border: 3px solid #FAA00F
		background: transparent

.stocks
	&-slides-container
		position: relative
		width: calc(100% - 60px)
		height: 500px
		background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
	&-img
		position: absolute
		visibility: hidden
		transition: .5s ease
		opacity: 0
		&.active
			visibility: visible
			transition: .5s ease
			opacity: 1
	&-description-container
		position: absolute
		display: grid
		grid-template-rows: 1fr 60px
		padding: 50px
		width: 360px
		min-height: 100px
		background-color: $white
		bottom: 0
		z-index: 5
		.btn-action
			width: 250px
			&:active
				color: $black
		li
			display: none
			&.active
				display: block
	&-description-text
		margin-top: 0
		font-size: 18px
	&-slider-pager
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: -35px
	&-page
		display: inline-block
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: rgba(255, 255, 255, .5)
		margin: 0px 3px
		&:hover
			cursor: pointer
			background-color: $white
		&.active
			background-color: $black

.portfolio
	&-section
		position: relative
		margin-bottom: 0
	&-list
		display: grid
		grid-template-columns: repeat(3, 1fr)
		width: calc(100% - 60px)
	&-block
		position: relative
		height: 400px
		background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
		img
			position: absolute
			object-fit: cover
			object-position: 50% 0
	&-info-container
		position: relative
		transition: .3s ease
		opacity: 0
		background-color: rgba(250, 250, 250, .8)
		width: calc(100% - 40px)
		height: calc(100% - 40px)
		z-index: 10
		top: 0
		padding: 20px
		&:hover
			opacity: 1
		h6
			margin: 0
			font-size: 18px
		ul
			position: absolute
			max-height: 350px
			bottom: 10px
			overflow-y: auto
			p
				margin: 10px

.reviews
	&-section
		background-color: #2B2B33
		width: calc(100% - 200px)
		padding: 60px 70px
		.section-header
			color: $white
			margin-top: 0
		.btn-action
			position: absolute
			width: 230px
		.decoration-blue-element
			margin-right: -60px
	&-slider
		position: relative
		width: calc(100% + 30px)
		min-height: 300px
		margin-left: -15px
		overflow: hidden
		&-wrapper
			display: flex
			width: 100%
			height: 100%
			transition: transform .4s ease
			.slider-item
				max-width: 50%
				flex: 0 0 50%
				&-content
					position: relative
					width: calc(100% - 100px)
					min-height: 50%
					height: calc(100% - 70px)
					left: 50%
					transform: translateX(-50%)
					background-color: #2f2f37
					padding: 35px
	&-controls
		position: relative
		left: 100%
		margin-bottom: -60px

.review-text
	color: $trwhite
	margin: 0
	font-size: 15px
	min-height: 200px
	max-height: 470px
	overflow-y: auto

.review-name
	color: $white
	margin: 15px 0 0 0
	font-weight: 700
	font-size: 16px

.about
	&-container
		position: relative
		width: calc(100% - 60px)
		min-height: 400px
		display: grid
		grid-template-columns: 400px 1fr
		grid-column-gap: 40px
	&-info
		position: relative
		display: grid
		grid-template-rows: 1fr 50px
		.about-text
			margin: 0 0 30px 0
			color: $gray
		.btn-action
			position: absolute
			width: 150px
			bottom: 0
			&:active
				color: $black
	&-img
		max-height: 400px
		.img-responsive
			object-fit: cover
			object-position: 50% 0

footer
	.consultation-list
		position: relative
		display: grid
		grid-template-rows: 1fr repeat(4, 50px)
		grid-row-gap: 10px
		.contact-info
			position: relative
			top: 0
			min-height: 100%
			width: calc(100% - 60px)
			a
				color: $black
				margin: 0
				padding: 15px 0
			.footer-phone-link
				font-weight: 700
				margin: 0
				align-items: center
				padding: 18px 0
			.footer-email-link
				width: fit-content
				color: $gray
				text-decoration: underline
			small
				white-space: pre-wrap
				padding: 18px 0
	.footer-contact-logo
		padding: 20px 0
	.consultation-form
		align-self: start
	.consultation-img-container
		max-height: 320px

.social-links
	border: 2px solid $accent
	border-radius: 50%
	&-list
		position: relative
		top: 14px
		left: 60px
		height: 36px
		display: grid
		grid-template-columns: repeat(4, 36px)
		grid-column-gap: 12px
		li
			box-shadow: 0px 0px 1px 1px $accent
			border-radius: 50%
			transition: .3s ease54CFFF
			a
				position: relative
				display: inline-block
				width: 100%
				height: 100%
				background-color: transparent
				background-position: center
				background-repeat: no-repeat
				transition: .3s ease

				&.social-icon-vk
					background-image: url(../img/social/vk.svg)
					&:hover
						background-image: url(../img/social/vk_hover.svg)

				&.social-icon-facebook
					background-image: url(../img/social/facebook.svg)
					&:hover
						background-image: url(../img/social/facebook_hover.svg)

				&.social-icon-instagram
					background-image: url(../img/social/instagram.svg)
					&:hover
						background-image: url(../img/social/instagram_hover.svg)

				&.social-icon-youtube
					background-image: url(../img/social/youtube.svg)
					&:hover
						background-image: url(../img/social/youtube_hover.svg)

			&:hover
				background-color: $accent

.footer-end-separator
	position: relative
	display: block
	width: calc(100% - 120px)
	height: 70px
	margin-top: 125px
	margin-left: 60px
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1)

.scroll_top-container
	position: relative
	width: 60px
	height: 60px
	left: 50%
	top: -30px
	display: inline-block
	border: none
	background-color: $white
	.btn-scroll-icon
		position: absolute
		width: 20px
		height: 20px
		left: 50%
		top: 50%
		transform: translateX(-50%) translateY(-50%) rotateZ(270deg)
		mask: url(../img/arrow.svg)
		background-color: #d1d1d1
		background-size: 30%
		border: none
		&:hover
			cursor: pointer
			background-color: $accent

.popup_form-external-area
	position: fixed
	top: 0
	width: 100%
	height: 100vh
	background-color: #11111199
	z-index: 20
	display: none
	.review-form-wrapper
		position: relative
		width: 360px
		height: auto
		left: 50%
		top: 45%
		transform: translate(-50%, -50%)
	form
		width: 300px
		min-height: auto
		background-color: $accent
		box-shadow: $arroundWhiteShadow
		text-align: center
		padding: 30px
	.form-header
		font-size: 24px
		margin-bottom: 20px
	.btn-action
		margin-bottom: 20px
	.btn-close
		position: absolute
		width: 50px
		height: 50px
		left: calc(50% + 170px)
		top: -15px
		transform: translateX(-50%)
		border: none
		float: right
		background: #FFFFFF url(../img/close.svg) center no-repeat
		background-size: 30%
		&:hover
			cursor: pointer
	textarea
		max-height: 35vh
		max-width: 500px
		overflow-y: auto

@media (min-width: 767px) and (max-width: 1230px)

	section
		margin: 100px 0
		padding-left: 30px

	.section-header
		line-height: 45px

	.decoration-blue-element
		width: 100%

	.header-middle-area
		position: fixed
		right: -300px
		top: 0
		display: block
		background-color: $white
		height: 100vh
		width: 300px
		transition: .4s

	.main-sections
		position: relative
		top: 30px
		grid-template-columns: 1fr
		grid-template-rows: repeat(4, 50px)
		align-self: start
		a
			padding: 0
			transition: .2s ease
			align-items: flex-start
			left: 40px
			&:hover
				color: $accent
				box-shadow: none

	.menu-external-area
		position: fixed
		top: 0
		width: 100%
		height: 100vh
		visibility: hidden
		background-color: #11111188
		z-index: 3

	.mobile-nav-button
		display: inline-block
		box-shadow: $darkShadow
		transition: .4s
		z-index: 5

	.logo
		width: calc(100% - 150px)
		padding: 0 30px

	.preview-section
		width: 100%
		grid-template-columns: 1fr
		grid-template-rows: 400px 10px
		height: 450px
		padding: 0
		.decoration-blue-element
			display: none
		.left-info
			position: relative
			grid-row: 2
			width: 450px
			top: -130px
			z-index: 1
			height: 130px
			padding: 0
			.job-title
				margin-left: 30px
				padding: 30px 0
				strong
					font-size: 35px
		.preview-right-section
			grid-row: 1
		.preview-tagline, .slider-list-pager
			display: none
		.contact-info
			top: 430px
			left: 30px
			a
				color: $black

	.services-types
		width: calc(100% - 30px)
		left: 50%
		margin-left: -15px
		ul
			grid-template-columns: repeat(2, 1fr)
	.advantages-section
		.consultation-container
			position: relative
			width: calc(100% - 30px)
			grid-template-columns: 1fr
			grid-template-rows: auto 1fr 10px
			.consultation-img-wrapper
				position: relative
				top: -576px
				height: 100%
				max-height: 630px
				left: 30px
				.consultation-img-container
					top: 45px
					left: -30px
					width: 100%
					height: 450px

			form
				position: relative
				top: 50px
				textarea
					resize: none

	.stocks-slides-container
		width: calc(100% - 30px)
	.stocks-description-container
		z-index: 0

	.portfolio-section
		display: none

	.reviews-section
		margin-top: 120px
		width: calc(100% - 100px)
		padding: 60px 70px 60px 30px
		.decoration-blue-element
			display: none

	.reviews
		&-slider
			min-height: 100px
			.slider-item
				max-width: 100%
				flex: 0 0 100%
				.review-text
					min-height: 100px

	.about
		&-container
			grid-template-columns: 1fr
		&-img
			display: none
		&-info
			.about-text
				margin: 20px 0 0 0

	.consultation-container
		width: calc(100% - 30px)
		grid-template-columns: 1fr
		grid-template-rows: 300px 330px 50px

	.consultation-list-offset
		display: none

	.consultation-container
		.contact-info
			left: 30px
		.social-links-list
			left: 30px
		.consultation-img-container
			width: calc(100% - 130px)
			height: 325px
			left: 130px
			top: -260px

	footer
		form
			position: relative
			left: 30px

@media (min-width: 0px) and (max-width: 766px)

	section
		margin: 80px 0
		padding-left: 20px

	.site-header
		width: 100%

	.section-header
		line-height: 35px
		font-size: 30px

	.decoration-blue-element
		display: none

	.header-middle-area
		position: fixed
		right: -300px
		top: 0
		display: block
		background-color: $white
		height: 100vh
		width: 300px
		transition: .4s

	.logo
		width: calc(100% - 120px)
		min-width: 100px
		padding: 0 0 0 30px

	.main-sections
		position: relative
		top: 30px
		grid-template-columns: 1fr
		grid-template-rows: repeat(4, 50px)
		align-self: start
		a
			padding: 0
			transition: .2s ease
			align-items: flex-start
			left: 40px
			&:hover
				color: $accent
				box-shadow: none

	.menu-external-area
		position: fixed
		top: 0
		width: 100%
		height: 100vh
		visibility: hidden
		background-color: #11111188
		z-index: 3

	.mobile-nav-button
		display: inline-block
		box-shadow: $darkShadow
		transition: .4s
		z-index: 5

	.preview-section
		width: 100%
		grid-template-columns: 1fr
		grid-template-rows: 400px 10px
		height: 450px
		padding: 0
		.decoration-blue-element
			display: none
		.left-info
			position: relative
			grid-row: 2
			width: 100%
			top: -130px
			z-index: 1
			height: 130px
			padding: 0
			.job-title
				margin-left: 20px
				padding: 30px 0
				strong
					font-size: 30px
		.preview-right-section
			grid-row: 1
			overflow: visible
		.preview-tagline, .slider-list-pager
			display: none
		.contact-info
			top: 420px
			left: 20px
			a
				color: $black

	.slider-controls
		bottom: -70px
		grid-template-columns: 1fr 1fr
		grid-template-rows: 1fr
		width: 140px
		height: 70px

	.services-types
		width: calc(100% - 20px)
		left: 50%
		margin-left: -10px
		ul
			grid-template-columns: 1fr

	.advantages-section
		.advantages-list
			padding: 20px
			li
				margin: 0 0 10px 0
				grid-template-rows: 60px 1fr
				grid-template-columns: 1fr
		.consultation-container
			position: relative
			width: calc(100% - 20px)
			grid-template-columns: 1fr
			grid-template-rows: auto 1fr
			.consultation-img-wrapper
				display: none

			form
				width: calc(100% - 60px)
				padding: 30px
				textarea
					resize: none
			.form-header
				font-size: 25px
				line-height: 30px
			.description-text
				font-size: 14px
				line-height: 18px

	.stocks-section
		display: none

	.portfolio-section
		display: none

	.reviews-section
		margin-top: 120px
		width: calc(100% - 40px)
		padding: 60px 20px 60px 20px
		.section-header
			font-size: 26px
		.btn-action
			position: relative
			margin-top: 100px
		.slider-controls
			bottom: 150px
			transform: translateX(-50%)
			left: calc(100% - 80px)

	.reviews
		&-slider
			width: calc(100% + 20px)
			min-height: 100px
			.slider-item
				max-width: 100%
				flex: 0 0 100%
				.review-text
					min-height: 100px
					height: calc(100% - 30px)
				.review-name
					position: absolute
					margin-top: 10px
					bottom: 20px

	.about
		&-section
			.section-header
				margin-bottom: 10px
		&-container
			grid-template-columns: 1fr
			width: calc(100% - 20px)
		&-img
			display: none
		&-info
			grid-row-gap: 30px
			.about-text
				margin: 20px 0 0 0

	.consultation-container
		width: calc(100% - 30px)
		grid-template-columns: 1fr
		grid-template-rows: 300px 1fr

	.consultation-list-offset
		display: none

	.consultation-container
		.contact-info, .social-links-list
			left: 20px
		.consultation-img-wrapper
			display: none

	footer
		.consultation-form
			position: relative
			width: calc(100% - 70px)
			padding: 30px
			left: 20px
		.footer-end-separator
			width: calc(100% - 40px)
			margin-left: 20px
			.scroll_top-container
				transform: translateX(-50%)